```
# Database
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.pyc~
*.pyo~
.Python
env/
venv/
.venv/
.ENV
.env
.env.local
.env.*
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
MandatoryFile.txt
*~
.recommenders
.DS_Store
Thumbs.db

# Django
*.log
local_settings.py
db.sqlite3-journal
media/
staticfiles/
.env
```